HOST=localhost  
ADMIN_USERNAME=your_username  
ADMIN_PASSWORD=your_password  
DATABASE_NAME=database_name  
DIALECT="mysql"  
DIALECTMODEL=mysql2  
BACK_PORT=3000  
FRONT_PORT=3001  
API_URL=http://localhost:3000  
TOKEN_SECRET=your_token_secret  
SESSION_SECRET=your_session_secret